
*.vsidx
*.vsidx
.vs/QuanLiTinTuc/FileContentIndex/4c19f00f-17aa-4b64-9ffe-e9b66d7b83e6.vsidx
.vs/QuanLiTinTuc/FileContentIndex/4c19f00f-17aa-4b64-9ffe-e9b66d7b83e6.vsidx
*.vsidx
.vs/QuanLiTinTuc/FileContentIndex/4c19f00f-17aa-4b64-9ffe-e9b66d7b83e6.vsidx
.vs/QuanLiTinTuc/FileContentIndex/55352521-954b-467b-b1b4-95c86ce7fa0f.vsidx
.vs/QuanLiTinTuc/v17/.suo
.vs/QuanLiTinTuc/v17/.suo
*.bin
*.dll
QuanLiTinTuc/bin/QuanLiTinTuc.dll
