@model QuanLiTinTuc.Models.TinTuc

@{
    ViewBag.Title = "TheGioiView";
}

<div style="display: flex; width: 700px; justify-content: center; flex-wrap: wrap; margin: auto;">
    <h1 >
        Khoảng 700 người Việt ở vùng tạm thời an toàn tại bắc Myanmar
    </h1>
    <p>
        Bộ Ngoại giao cho biết có khoảng 700 công dân Việt Nam đang ở vùng tạm thời an toàn tại miền bắc Myanmar, trong bối cảnh có giao tranh tại khu vực này.
    </p>
    <article>
        <p>
            "Tình hình an ninh tại một số bang miền bắc Myanmar tiếp tục diễn biến phức tạp. Cho đến nay, có khoảng 700 công dân Việt Nam đang ở khu vực tạm thời an toàn, nhiều trường hợp khác đang chờ được xác minh thông tin", phát ngôn viên Bộ Ngoại giao Phạm Thu Hằng cho biết hôm nay trong cuộc họp báo thường kỳ.
        </p>

        <p>
            Theo người phát ngôn, Bộ Ngoại giao đã chỉ đạo đại sứ quán tại Myanmar làm việc với cơ quan chức năng sở tại, đề nghị bảo đảm an toàn và điều kiện sinh hoạt cơ bản cho công dân Việt Nam, tạo điều kiện cho người Việt ra khỏi khu vực giao tranh.
        </p>

        <p>
            Bộ Ngoại giao, cơ quan đại diện Việt Nam ở Myanmar, Trung Quốc đã phối hợp chặt chẽ, chia sẻ thông tin với cơ quan đại diện nước ngoài có công dân tại khu vực, làm việc với cơ quan chức năng Trung Quốc đề nghị hỗ trợ Việt Nam trong công tác bảo hộ công dân.
        </p>

        <p>
            "Trong thời gian tới, Bộ Ngoại giao tiếp tục theo dõi sát tình hình, giữ liên lạc với các đầu mối tại khu vực lánh nạn, chuẩn bị sẵn sàng công tác bảo hộ công dân cần thiết để đưa công dân về nước sau khi thống nhất được phương án di chuyển", người phát ngôn cho biết thêm. Bà Hằng nhấn mạnh Bộ Ngoại giao tiếp tục phối hợp với cơ quan chức năng trong và ngoài nước để triển khai biện pháp bảo đảm an toàn và sơ tán công dân sớm nhất có thể.
        </p>

        <div>
            <img style="width: 700px;" src="https://i1-vnexpress.vnecdn.net/2023/11/23/ngu-o-i-pha-t-ngo-n-thu-ha-ng-5659-1237-1700733062.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=S2jlvdHmituI78KRUpKTpA" />
        </div>
    </article>
</div>