@model IEnumerable<QuanLiTinTuc.Models.TinTuc>
@{
    ViewBag.Title = "TheGioi";
}
<style>
    body {
        overflow: auto;
    }

    .item-news {
        width: 800px;
        display: flex;
        border-left: 1px solid #e5e5e5;
        padding: 40px 0 0 30px;
        position: relative;
    }

    .description {
        font-family: Arial;
        margin-top: 10px;
        color: #4F4F4F;
        font-size: 15px;
    }

    .red_dot {
        content: "";
        width: 9px;
        height: 9px;
        background: #df477b;
        border-radius: 50%;
        position: absolute;
        top: 52px;
        left: -5px;
        z-index: 1;
    }

    .title-news {
        margin-bottom: 0;
        font-size: 22px;
        font-family: 'Merriweather',serif;
        line-height: 32px;
        font-weight: 700;
        color: #222222;
    }

    .thumb-art {
        margin-left: 40px;
        padding-top: 7px;
    }
    .thumb-art>img{
        width: 220px;
        height: 132px;
    }
</style>

<div class="card-body row center justify-content-center" style="background-color: white;">
    @foreach (var item in Model)
    {
        
        <div class="item-news">
            <span class="red_dot"></span>
            <div style=" max-width: 500px;">
                <a href="/Home/TheGioiView?Id=@item.Id">
                    <h3 class="title-news" style="">
                        @item.TieuDe
                    </h3>
                </a>
                <a href="/Home/TheGioiView?Id=@item.Id">
                    <p class="description">
                        @item.TomTat
                    </p>
                </a>
            </div>
            <a href="/Home/TheGioiView?Id=@item.Id">
                <div class="thumb-art">
                    <img src="@item.Anh" />
                </div>
            </a>

        </div>
    }

</div>