
@{
    ViewBag.Title = "TheGioi";
}
<style>
    .title-right {
        font-family: "Merriweather",serif;        
        margin-bottom: 4px;
        width: auto;
        float: left;
    }
    .title-right>h3 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 700;
        color: #222222;
        padding: 18px 20px 0px;
        height: 116px;
    }
    .description {
        font-family: Arial;
        height: 74.8px;
        margin-top: 10px;
        color: #4F4F4F;
        padding: 0px 20px;
        font-size: 14px
    }

    .sub-news-top {
        display: flex;
        flex-wrap: wrap;
        width: 780px;
        height: 176.8px;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e5e5e5;
    }
    ul li {
        list-style-type: none;
        padding: 0;
    }
    ul {
        padding: 0;
    }
    .title_news {
        color: #222222;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        font-family: "Merriweather",serif;
    }
    .item-news {
        display: flex;
    }
    .item-news>h4{
    width: 180px;

    }
    .item-news>h4 {
        font-family: "Merriweather",serif;
        font-size: 18px;
    }
    .list-item-news {
        padding: 15px 5px 15px 15px;
        border: 1px solid #E5E5E5;
    }
</style>
<div class="card-body row center justify-content-center">

    <div class="card row" style="width: 1130px; height: 550.6px;">
        @*Phần tin bên trái*@ 
        <div class="" style="width: 780px; height: 550.6px;">
            @*Phần tin chính*@
            <div style="width: 780px; height:300px; background-color: #f7f7f7;">
                <div class="thumb-art" style="display: flex">
                    <img style="width: 500px; height: 100%;" src="https://i1-vnexpress.vnecdn.net/2023/11/17/47OZBB6DJZPCBBXDPLRZ52XHGM-jpe-6123-7893-1700196087.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=4WO4_DUfivwe48t9j9pOvQ" />
                    <div class="title-right">
                        <h3>Thay đổi thái độ của Trung Quốc sau cuộc gặp thượng đỉnh với Mỹ</h3>
                        <p class="description">Tổng thống Putin bất ngờ tuyên bố cộng đồng LGBTQ là một phần của xã hội hiện đại, dường như thể hiện thái độ cởi mở hơn với nhóm này.</p>
                    </div>
                </div>
            </div>
            @*Phần dưới tin chính*@
            <ul class="sub-news-top">
                <li class="col-4" >
                    <h3 class="title_news">
                        'Mắt thần' có thể giúp Nga bảo vệ S-400 ở Ukraine
                    </h3>
                    <p class="description" style="padding: 0;">
                        Tình báo Anh nói Nga có thể đang triển khai máy bay cảnh báo sớm A-50U tại Ukraine, nhằm bảo vệ tên lửa S-400 trước các mối đe dọa.
                    </p>
                </li>
                <li class="col-4" >
                    <h3 class="title_news">
                        Nga oanh tạc loạt cứ điểm Ukraine dọc sông Dnieper
                    </h3>
                    <p class="description" style="padding: 0;">
                        Bộ Quốc phòng Nga tuyên bố tập kích ba cứ điểm Ukraine dọc sông Dnieper, khi giao tranh tại Kherson đang ngày càng gia tăng.
                    </p>
                </li>
                <li class="col-4" >
                    <h3 class="title_news">
                        Bệnh nhi Gaza được đưa đến UAE
                    </h3>
                    <p class="description" style="padding: 0;">
                        UAE triển khai sáng kiến đưa bệnh nhi cần điều trị khẩn cấp và người thân từ Dải Gaza đến nước này.
                    </p>
                </li>
            </ul>
        </div>

        @* Phần tin bên phải scroll *@
        <ul class="list-item-news" style="width: 320px; height: 550.6px; overflow: scroll;">
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
            <li class="item-news">
                <h4>
                    Lừa bán xe Mercedes G63 của người khác ở showroom
                </h4>
                <img style="width:100px; height:60px;" src="https://i1-vnexpress.vnecdn.net/2023/11/18/DSC7070-1700308707.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=OXeJ8AaCEyHBbG8f5aV6CA" />
            </li>
        </ul>

    </div>


</div>