
@{
    ViewBag.Title = "QuanLiTaiKhoanAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-size: 32px; line-height: 150%; font-family: 'Merriweather',serif; font-weight: bold; margin-top: 25px; margin-bottom: 15px; color: #9f224e; text-align: center;">
    Quản lí tài khoản admin
</h1>


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-2">
                <a href="/QuanLiTaiKhoan/ThemTaiKhoanAdmin" type="button" class="btn btn-block btn-primary btn-sm">Thêm mới tài khoản</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách tài khoản</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="txt_search_val" id="txt_search_val" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button id="btn_search_action" type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>PassWord</th>
                                    <th>FullName</th>
                                    <th>Quyền truy cập</th>
                                    <th>Thao tác</th>

                                </tr>
                            </thead>
                            <tbody id="tbl_data">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<script>



    $(document).ready(function () {
        $.ajax(
            {
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QuanLiTaiKhoan/get_All',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    var rs = JSON.parse(response);

                    if (rs.ErrCode == 1) {
                        //trường hợp lấy dssv thành công
                        //console.log(rs.Data);
                        var str = "";
                        for (var i = 0; i < rs.Data.length; i++) {
                            str += "<tr> <td> " + rs.Data[i].id + " </td><td> " + rs.Data[i].UserName + " </td><td> " + rs.Data[i].PassWord + " </td><td> " + rs.Data[i].FullName + " </td><td> " + rs.Data[i].QuyenTruyCap + "</td> <td><a href='./SuaThongTinTaiKhoan?UserName=" + rs.Data[i].UserName + "' class=' btn  btn-outline-warning border-0'> <i class='fa fa-pen' > </i> </a> <button type='button' onclick='Delete_obj(\"" + rs.Data[i].UserName + "\")' class='btn btn-outline-danger border-0'> <i class='fa fa-trash' > </i> </button> </td> </tr>";
                        }
                        $("#tbl_data").html(str);
                    }
                    else {
                        alert(rs.ErrDesc);
                    }
                },
                error: function (response) {
                    alert("Lấy Danh sách tài khoản thất bại");
                }
            }
        );


        $("#btn_search_action").click(function () {
            //alert($("#txt_search_val").val());

            //if (!search_type) {
            //    alert("Vui lòng chọn tiêu chí tìm kiếm");
            //    return false;
            //}

            var formData = new FormData();
            formData.append("search_val", $("#txt_search_val").val());


            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/QuanLiTaiKhoan/Search_TK',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);

                        if (rs.ErrCode == 1) {
                            //trường hợp lấy dssv thành công
                            //console.log(rs.Data);
                            var str = "";
                            for (var i = 0; i < rs.Data.length; i++) {
                                str += "<tr> <td> " + (i+1) + " </td><td> " + rs.Data[i].UserName + " </td><td> " + rs.Data[i].PassWord + " </td><td> " + rs.Data[i].FullName + " </td><td> " + rs.Data[i].QuyenTruyCap + "</td> <td><a href='./SuaThongTinTaiKhoan?UserName=" + rs.Data[i].UserName + "' class=' btn  btn-outline-warning border-0'> <i class='fa fa-pen' > </i> </a> <button type='button' onclick='Delete_obj(\"" + rs.Data[i].UserName + "\")' class='btn btn-outline-danger border-0'> <i class='fa fa-trash' > </i> </button> </td> </tr>";
                            }
                            $("#tbl_data").html(str);
                        }
                        else {
                            alert(rs.ErrDesc);
                        }
                    },
                    error: function (response) {
                        alert("Xóa sinh viên thất bại");
                    }
                }
            );
        })
    })


</script>
<script>
    function Delete_obj(tk) {
        if (confirm("Bạn có thực sự muốn xóa bản ghi có Username=" + tk + " này không?")) {
            //xử lý xóa
            /*alert("Đồng ý xóa");*/

            //trường hợp không rỗng
            var formData = new FormData();
            formData.append("tk", tk);

            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/QuanLiTaiKhoan/Del_TK',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        var rs = JSON.parse(response);
                        alert(rs.ErrDesc);
                        //refresh lại trang web để thấy thay đổi;
                        window.location.href = "/QuanLiTaiKhoan/QLTaiKhoanAdmin";
                    },
                    error: function (response) {
                        alert("Xóa sinh viên thất bại");
                    }
                }
            );
        }
    };

</script>