
@{
    ViewBag.Title = "QLTaiKhoanUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = HttpContext.Current.Session["userName"];
}

<!-- Content Header (Page header) -->
<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin tài khoản</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" id="frm_data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="txt_UserName">Tài khoản</label>
                                <input type="text" class="form-control" id="txt_UserName" name="txt_UserName" placeholder="Enter text" readonly>
                            </div>
                            <div class="form-group">
                                <label for="txt_FullName">Họ tên</label>
                                <input type="text" class="form-control" id="txt_FullName" name="txt_FullName" placeholder="text">
                            </div>

                            <div class="card-footer">

                                <a href="/QuanLiTaiKhoan/SuaThongTinTaiKhoan?UserName=@user" type="submit" class="btn btn-primary">Đổi mật khẩu hoặc họ tên</a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
            </div>
        </div>


    </div>
</section>
<script>
    $(document).ready(function () {
        var url = new URL(window.location.href);
        var tk = url.searchParams.get("UserName");

        //trường hợp không rỗng
        var formData = new FormData();
        formData.append("UserName", tk);

        $.ajax(
            {
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QuanLiTaiKhoan/get_TK_Info',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    //alert(response);
                    if (response.indexOf("Không tìm thấy") >= 0 || response.indexOf("thất bại") >= 0) {
                        //trường hợp lỗi
                        alert(response);
                    }
                    else {
                        //trường hợp tìm thấy sinh viên cần sửa
                        /*console.log(response);*/
                        var sv_obj = JSON.parse(response);

                        $("#txt_UserName").val(sv_obj.UserName);
                        $("#txt_FullName").val(sv_obj.FullName);
                        //$("#txt_nhaclai_matkhau").val(sv_obj.MatKhau);
                        //console.log(sv_obj.MSSV);
                    }
                },
                error: function (response) {
                    alert("Xử lý lấy thông tin tài khoản thất bại");

                }
            }
        );
    })



    //$(document).ready(function () {
    //    var url = new URL(window.location.href);
    //    var id = url.searchParams.get("id");

    //    var formData = new FormData();
    //    formData.append("id", id);

    //    console.log(id);

    //    $.ajax(
    //        {
    //            type: "POST",
    //            //data: {id: id},
    //            data: formData,
    //            //data: JSON.stringify(lst),
    //            contentType: "application/json; charset=utf-8",
    //            url: window.location.origin + '/QLSV/get_SV_Edit',
    //            processData: false,
    //            contentType: false,
    //            cache: false,
    //            success: function (response) {
    //                //alert(response);
    //                $("#div_noft").html(response);
    //            },
    //            error: function (response) {
    //                alert("Xử lý thêm mới thất bại");
    //            }
    //        }
    //    );
    //})
</script>


